/* -------- TASK ITEMS -------------- */

#write .md-task-list-item>input {
    -webkit-appearance: initial;
    display: block;
    position: absolute;
    border: 1px solid hsl(210, 29%, 29%);
    border-radius: 0.25rem;
    margin-top: 0.1rem;
    margin-left: -1.8rem;
    height: 1.2rem;
    width: 1.2rem;
    transition: background 0.3s;
}

#write .md-task-list-item>input:hover {
    background: #42b983;
}

/* Honestly I'm not sure where --primary-color is defined 
but it seemed to pull it from ursine.umbra! How odd!
Leaving it because that's interesting but also defining it below
Could of course also do a gradient!*/
#write .md-task-list-item>input[checked]::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 60%;
    width: 2px;
    transform: rotate(40deg);
    background: var(--primary-color);
    background:#428bca;
}

#write .md-task-list-item>input[checked]::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 25%;
    height: 30%;
    width: 2px;
    transform: rotate(-40deg);
    background: #42b983;
}


#write .md-task-list-item>p {
    transition: color 0.3s;
}

#write .md-task-list-item.task-list-done>p {
    color: #42b983;
    text-decoration: line-through;
}


/* ----------- LIST ITEMS ---------- */

/* Selectors taken from Ursine Umbra */
#write ol, #write ul {
  padding-left: 2rem;
  margin: .5rem 0;
}

/* Note - get rid of bullet */
#write li {
    list-style-type: none;
}

/* Note -- (dash) mark */
#write ul > li::before {
    content: "";
    position: absolute;
    height: 2px;
    width: .9rem;
    background-color: #34495e;
    margin: .7rem -1.2rem;
    border: solid #34495e 1px;
    border-radius: 0;
    transform: rotate(0deg);
}

/* Event - get rid of bullet */
#write li li {
    list-style-type: none;
}

/* Event circle mark */
#write ul > li li::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    margin: 0.3rem -1.3rem;
    border: solid #34495e 2px;
    border-radius: 50%;
    transform: rotate(0deg);
}

/* Plain task - needs bullet */
#write li li li {
    list-style-type: disc;
}

/* Plain task - hide icon */
#write ul > li li li::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin: 0.3rem -1.3rem;
    border: solid #34495e 2px;
    border-radius: 50%;
    transform: rotate(0deg);
    opacity: 0;
}

/* Forwarded task - needs bullet */
#write li li li li {
    list-style-type: disc;
}

/* Forwarded task > mark */
#write ul > li li li li::before {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    margin: .4rem -2.2rem;
    border: solid #34495e;
    border-radius: 0;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    opacity: 1;
}

/* Scheduled - needs bullet */
#write li li li li li {
    list-style-type: disc;
}

/* Scheduled task < mark */
#write ul > li li li li li::before {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    margin: .4rem -1.8rem;
    border: solid #34495e;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}


/* Completed - needs bullet */
#write li li li li li li {
    list-style-type: disc;
}

/* Completed task x mark */
#write ul > li li li li li li::before {
    content: "\2715";
    position: absolute;
    font-weight: bold;
    font-size: larger;
    height: 2rem;
    width: 2rem;
    margin: 0 -1.26rem;
    border: none;
    border-width: 0 0 0 0;
    transform: rotate(0deg);
}


#write ul > li > * {
  font-weight: normal;
}

#write ul > li {
  padding-left: 0;
  margin-left: 0;
    
}

#write ul > li > *:not(ol):not(ul) {
  padding-left: .25rem;
}

#write ul {
  list-style-type: disc;
}

/* ---- Hide stuff for the task list items---- */
/* Hide the bullet points and just be normal
colored*/
#write .md-task-list-item {
    list-style-type: none;
  }

/* Hide the > marks */
#write ul > li .md-task-list-item::before {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    margin: .4rem -1.8rem;
    border: solid #34495e;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    opacity: 0;
}

/* Hide the < marks */
#write ul > li li .md-task-list-item::before {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    margin: .4rem -2.2rem;
    border: solid #34495e;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    opacity: 0;
}
/* Hide the dash marks */
#write ul > .md-task-list-item::before {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    margin: .4rem -2.2rem;
    border: solid #34495e;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    opacity: 0;
}

#write ul > li li {
    transform: translate(-2rem); 
}

#write ul > li .md-task-list-item {
    transform: translate(0);
}
