#write .md-task-list-item>input {
    -webkit-appearance: initial;
    display: block;
    position: absolute;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
    margin-top: 0.1rem;
    margin-left: -1.8rem;
    height: 1.2rem;
    width: 1.2rem;
    transition: background 0.3s;
}

#write .md-task-list-item>input:hover {
    background: #42b983;
}

/* Honestly I'm not sure where --primary-color is defined 
but it seemed to pull it from ursine.umbra! How odd!
Leaving it because that's interesting but also defining it below
Could of course also do a gradient!*/
#write .md-task-list-item>input[checked]::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 60%;
    width: 2px;
    transform: rotate(40deg);
    background: var(--primary-color);
    background:#42b983;
}

#write .md-task-list-item>input[checked]::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 25%;
    height: 30%;
    width: 2px;
    transform: rotate(-40deg);
    background: #42b983;
    ;
}


#write .md-task-list-item>p {
    transition: color 0.3s;
}

.task-list-done {
    text-decoration: line-through;
    color: hsl(153, 30%, 60%);
}
